@use "../vars.scss" as *;
.at__board {
	display: flex;
	background-color: #f00;
	width: 100%;
	height: 100%;
	background-color: #F3F4FF;
	position: relative;


	.react-flow__node, .at__card-idea__bk-card {
		//.at__card-idea__bk-card is for idea card


		padding: 18px;
		border-radius: 16px;
		background: #FFF;
		box-shadow: 0 1.6px 6.401px 0 rgba(38, 54, 97, 0.15);
		border: 0;
		min-width: 288px;
		max-width: 400px;
		max-height: 512px;
		min-height: 126px;
		transition: width 0.3s ease-in-out, height 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.2s linear;
		box-sizing: border-box;
		border: solid 1px transparent;
		&.dragging {
			box-shadow: 0 1.6px 16.401px 0 rgba(38, 54, 97, 0.25);
		}
		&.selected {
			border: solid 1px $accent-color;
			//box-shadow: 0 1.6px 20px 0 rgba(74, 160, 103, 0.5);
		}
	}
	&.at__board--smooth  {
		.react-flow__viewport {
			transition: transform 0.2s linear;
		}
	}
	.react-flow__viewport {
		//transition: transform 0.05s linear;
		transition: none;
	}
	.react-flow__nodesselection-rect {
		border-radius: 10px;
		visibility: hidden;
	}

	.react-flow__edge {
		&.selected {
			path {
				transition: stroke 0.2s linear;
				stroke: $accent-color;
				color: $accent-color;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				opacity: 1.0;
			}
		}
	}
	/*
	react-flow__handle 
	react-flow__handle-bottom 
	nodrag 
	nopan 
	source 
	connectable 
	connectablestart 
	connectableend 

	react-flow__handle 
	react-flow__handle-top 
	nodrag 
	nopan 
	target 
	connectable 
	connectablestart 
	connectableend 
	connectionindicator

	react-flow__handle react-flow__handle-right nodrag nopan source connectable connectablestart connectableend connectionindicator
	*/
	.connectionindicator {
		width: 22px;
		height: 22px;
		border-radius: 15px;
		border: 5px #D7D7D7 solid;
		background-color: transparent;
		box-sizing: border-box;
	}
	.react-flow__handle-right {
		right: -11px;
	}

	.react-flow__handle-left {
		left: -11px;
	}

	.react-flow__controls {
		position: absolute;
		right: 5px;
		left: 45%;
		top: auto;
		bottom: -5px;
		width: 160px;
		height: 40px;
		transform: translate(0, -50%);
		
		background: rgba(0, 0, 0, 0.80);
		border-radius: 10px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: row;
		backdrop-filter: blur(10px);
		button {
			background: none;
			border: 0;
			width: 40px;
			height: 40px;
			padding: 0;
			display: flex;
			transition: opacity 0.1s linear;
			svg {
				color: #fff;
				fill: #fff;
				opacity: 0.5;
				transition: opacity 0.1s linear;
			}
			&:hover {
				svg {
					opacity: 1.0;
				}
			}
		}
	}
}

.at__board__back {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 10px 20px;
	border-radius: 12px;
	background-color: #fcfcfc;
	border: 1px #ddd solid;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	user-select: none;
	transition: background-color 0.1s linear, opacity 0.1s linear;
	opacity: 0.0;
	pointer-events: none;
	&:hover {
		background-color: #fff;
	}
	&:active {
		background-color: #eee;
	}
	.at__board__back--active & {
		opacity: 1.0;
		pointer-events: all;
	}
}

.at__board__create {
	width: 120px;
	height: 60px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 12px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(4px);
	display: flex;
	.at__board__create-btn {
		width: 60px;
		height: 60px;
		display: flex;
		border-radius: 0 12px 12px 0;
		align-items: center;
		justify-content: center;
		svg path {
		}
		cursor: pointer;
		user-select: none;
		transition: opacity 0.1s linear, background-color 0.1s linear;
	}
}

.at__board__create-note {
	svg path {
		stroke: #fff
	}
}

.at__board__create-ai {
	width: 60px;
	height: 60px;
	background-color: $purple-color;
	display: flex;
	border-radius: 0 12px 12px 0;
	align-items: center;
	justify-content: center;
	position: relative;
	&:hover {
		background-color: $purple-color-hover;
	}
	&:active {
		background-color: $purple-color-active;
	}
}

.at__board__create-ai-popup {
	position: absolute;
	right: 0;
	bottom: 60px;
	width: 320px;
	height: 604px;
	opacity: 0.0;
	transition: opacity 0.1s linear, background-color 0.1s linear;
	img {
		width: 100%;
	}
	.at__board__back--chat-open & {
		opacity: 1.0;
	}
}