@use "../vars.scss" as *;

	/// IDEA
.at__board .react-flow__node.at__node-idea {
	box-shadow: none;
	background-color: transparent;
	//z-index: 100;
	/*
	&:before, &:after {
		pointer-events: none;
		position: absolute;
		content: '';
		display: flex;
		width: 100%;
		height: 100%;
		left: 10px;
		bottom: -10px;
		
		background-color: #c00;
		z-index: -10;
		transition: opacity 0.1s linear;
	}
	&:after {
		left: 20px;
		bottom: -20px;
		z-index: -1000000;
		background-color: #0c0;
	}
	*/
}

.at__card-idea {
	background-color: none;
	.react-flow__handle-right {
		right: -21px;
	}
}

.at__card-idea__bk-card-cont {
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	left: -1px;
	bottom: 0px;
	position: absolute;
	pointer-events: none;
	.at__card-idea__bk-card {
		&:nth-of-type(3) {
			top: 0px;
			left: 0px;
		}
		&:nth-of-type(2) {
			top: 10px;
			left: 10px;
		}
		&:nth-of-type(1) {
			top: 20px;
			left: 20px;
		}
	}
	border: solid 1px transparent;
	transition: border 0.2s linear;
	.selected & {
		border: solid 1px $accent-color;
		
	}
}

.at__card-idea__bk-card {
	pointer-events: none;
	position: absolute;
	content: '';
	display: flex;
	width: 100%;
	height: 100%;
	
	
	background-color: #c00;
	z-index: -10;
	transition: opacity 0.1s linear;
}