.at__widget-chart {
	background: linear-gradient(0deg, rgba(245,250,255,1.0) 0%, rgba(253,255,255,1.0) 100%);
	box-shadow: 0px 2px 4px rgba(0,0,100,0.05);
	border-radius: 20px;
	transition: border 400ms ease-out, box-shadow 400ms ease-out, padding 400ms ease-out, margin 400ms ease-out, height 300ms ease-out, box-shadow 200ms linear, background-color 200ms linear, line-height 200ms linear;
	flex-direction: column;
	margin: 0px 0px 24px 0px;
	text-align: left;
	padding: 22px;
	flex-shrink: 0;

	&.at__widget--deleted {
		padding: 0px 22px;
		box-shadow: 0px 0px 0px rgba(0,0,0,0);
		margin: 0px 0px 0px 0px;
		border: 0;
	}
}
.at__widget-chart__header {
	display: flex;
	position: relative;
	cursor: pointer;
	align-content: center;
	align-items: center;
	flex-direction: row;
	user-select: none;
	height: 40px;
	top: -3px;
	svg {
		width: 20px;
		height: 20px;
		position: relative;
		margin-right: 10px;
		flex-shrink: 0;
		transition: transform 50ms ease-out;
		transform: rotate(0deg);
		.at__widget-chart--collapsed & {
			transform: rotate(180deg);
		}
	}
	.tradingview-widget-copyright {
		display: none;
	}
	p {
	 	margin: 0;
	 	&:nth-of-type(1) {
	 		font-weight: 400;
	 		flex-shrink: 0;
	 	}
	 	&:nth-of-type(2)  {
	 		font-weight: 500;
	 		position: relative;
	 		right: -8px;
	 		font-size: 0.8em;
	 		flex-shrink: 1;
	 		width: 100%;
	 		text-align: right;
	 		color: #22870e;
	 	}
	}

	.at__widget--deleted & {
		opacity: 0.0;
	}
}
.at__widget-chart__value {
	font-size: 1.0em;
	position: relative;
	left: -22px;
	width: calc(100% + 44px);
	.at__widget--deleted & {
		opacity: 0.0;
	}
	.at__widget-chart--collapsed & {
		display: none;
	}
}
.at__widget-chart__date {
	margin-top: 4px;
	font-size: 0.8em;
	opacity: 0.5;
	.at__widget--deleted & {
		opacity: 0.0;
	}
}

