//////vars
$works-margin: 40px;



body, at__body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	background-color: #fefefe;
	font-size: 0.9em;
	color: #414241;
	-ms-overflow-style:none;
	position: relative;
	//transition: 1.2s linear background;
	//background: linear-gradient(180deg, rgba(249,242,255,1) 0%, rgba(255,255,255,1) 1024px);
	&.at__body--locked {
		overflow: hidden;
		pointer-events: none;
		//background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1024px);
		&::before {
			opacity: 0.0;
		}
	}
	&::before {
		content: '';
		width: 100%;
		height: 500px;z-index: 0;
		position: absolute;
		opacity: 1.0;
		transition: 1.2s linear opacity;
		background: linear-gradient(180deg, rgba(249,242,255,1) 0%, rgba(255,255,255,1) 500px);
	}
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#root {
	min-height: 100%;
	position: relative;
	font-family: 'Inter', sans-serif, Helvetica, Tahoma, Arial, Verdana;
	display: flex;
	width: 100%;
	justify-content: center;
	//color: rgba(255, 255, 255, 0.87);

}

a {
	color: #000;
	text-decoration: none;
	transition: 0.2s linear background-color;
	background-color: transparent;
	//background-color: #fff;
	&:hover {
		//background-color: #ffd800;
		color: #000;
		
	}
}




