//////vars
@use "vars.scss" as *;
$works-margin: 40px;



body, at__body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	background-color: #fefefe;
	font-size: 0.9em;
	color: #414241;
	-ms-overflow-style:none;
	position: relative;
	&.at__body--locked {
		overflow: hidden;
		pointer-events: none;
		&::before {
			opacity: 0.0;
		}
	}
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#root {
	min-height: 100%;
	position: relative;
	font-family: 'Inter', sans-serif, Helvetica, Tahoma, Arial, Verdana;
	display: flex;
	width: 100%;
	justify-content: center;
	//color: rgba(255, 255, 255, 0.87);
}

a {
	color: $accent-color;
	text-decoration: none;
	transition: 0.2s linear background-color;
	background-color: transparent;
	//background-color: #fff;
	&:hover {
		//background-color: #ffd800;
		color: $accent-color-hover;
		
	}
	&:active {
		color: $accent-color-active;
	}

	svg  {
		stroke: $accent-color;
		outline: $accent-color;
		fill: $accent-color;
	}
}




