$text-color: #535C6D;
$tag-bk: #D7D7D7;
$accent-color: #4AA067;
$accent-color-hover: #4bb069;
$accent-color-active: #499066;

$purple-color: #6A46D4;
$purple-color-hover: #7f5ee2;
$purple-color-active: #6137db;
